[tool.poetry]
name = "aio-net-events"
version = "4.0.0"
description = "Asynchronous network configuration event detector for Python 3.7 and above"
license = "MIT"
readme = "README.md"
homepage = "https://github.com/ntamas/aio-net-events/"
repository = "https://github.com/ntamas/aio-net-events/"
authors = ["Tamas Nepusz <tamas@collmot.com>"]
packages = [
    { include = "aio_net_events", from = "src" }
]

[tool.poetry.dependencies]
python = "^3.7"
netifaces = ">=0.10.9"
anyio = "^3.0.0"
pyobjc-core = { version = "^9.0", platform = "darwin" }
pyobjc-framework-Cocoa = { version = "^9.0", platform = "darwin" }
pyobjc-framework-SystemConfiguration = { version = "^9.0", platform = "darwin" }

[tool.poetry.dev-dependencies]
pytest = "^7.2.1"
coverage = {extras = ["toml"], version = "^7.1.0"}
pytest-cov = "^4.0.0"
trio = "^0.20.0"

[tool.poetry.scripts]

[tool.coverage.paths]
source = ["src"]

[tool.coverage.run]
branch = true
source = ["src"]

[tool.coverage.report]
show_missing = true

[tool.pytest.ini_options]
filterwarnings = [
  "ignore::RuntimeWarning"
]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
